body {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
.blind {
    display: none;
}

/* =========================== header style ==============================*/
.header-top {
    border-bottom: 1px solid #d60c00;
}
.top-wrap {
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
    display: flex;  
    justify-content: space-between;  
    align-items: center;
}
#tnb {
    display: flex;
    column-gap: 1rem;
}
#tnb li {
    font-size: 0.8125em;
    color: #888;
    font-weight: 500;
}
#tnb li:hover {
    color: #000;
}

.bottom-wrap {
    max-width: 900px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.main-nav {
    width: 100%;
}
#gnb {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

/* ================== hero style ==================== */
#hero {
    height: 395px;
}
.hero-wrap {
    max-width: 900px;
    margin: 0 auto;
}

/* ================== icons style ==================== */
#icons {
    background: #d60c00;
}
.hot-nav {
    max-width: 900px;
    margin: 0 auto;
}
#hnb {
    display: flex;
}

/* ================== main style ==================== */
#main > article > h3 {
    margin: 50px 0;
    text-align: center; /* 가로 정렬 */
    font-size: 1.375em; /* 크기값 */
    color: #d60c00; /* 색상값 */
    font-weight: 600; /* 두께값 */
    text-transform: uppercase; /* 대문자 */
}
.prd {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.prd li{
    border-radius: 50%; /* 테두리 반경 : 50% (1:1 비율일때 정원으로 모양 깍기) */
    overflow: hidden; 
}