body {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
.blind {
    display: none;
}

/* =========================== header style ==============================*/
.header-top {
    border-bottom: 1px solid #d60c00;
}
.top-wrap {
    max-width: 900px;
    height: 80px;
    margin: 0 auto;
    display: flex;  
    justify-content: space-between;  
    align-items: center;
}
#tnb {
    display: flex;
    column-gap: 1rem;
}
#tnb li {
    font-size: 0.8125em;
    color: #888;
    font-weight: 500;
}
#tnb li:hover {
    color: #000;
}

.bottom-wrap {
    max-width: 900px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.main-nav {
    width: 100%;
}
#gnb {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
#gnb > li {
    position: relative; /* body가 아닌 새로운 기준점 */
}
#gnb > li > a {
    display: block;
    padding: 20px 15px;
}
#gnb > li:hover .lnb {
    display: block;
}
.lnb {
    display: none;
    position: absolute; /* 레이어처럼, 다른요소보다 위에 올라오는 */
    background: #d60c00;
    width: 100%;
    color: white;
}
.lnb > li {
    text-align: center;
    padding: 15px 0;
}
.lnb > li:hover {
    background: #800600
}

/* ================== hero style ==================== */
#hero {
    height: 395px;
}
.hero-wrap {
    max-width: 900px;
    margin: 0 auto;
}

/* ================== icons style ==================== */
#icons {
    background: #d60c00;
}
.hot-nav {
    max-width: 900px;
    margin: 0 auto;
}
#hnb {
    display: flex;
}

/* ================== main style ==================== */
#main > article > h3 {
    margin: 50px 0;
    text-align: center; /* 가로 정렬 */
    font-size: 1.375em; /* 크기값 */
    color: #d60c00; /* 색상값 */
    font-weight: 600; /* 두께값 */
    text-transform: uppercase; /* 대문자 */
}
.prd {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.prd li{
    border-radius: 50%; /* 테두리 반경 : 50% (1:1 비율일때 정원으로 모양 깍기) */
    overflow: hidden; 
}

/* ------------------ main > about style ------------- */
#slogan {
    border-bottom: 1px solid #ccc;
}
#slogan .text {
    display: flex;
    justify-content: center; /* 수평정렬 : 가운데 */
    align-items: center; /* 수직정렬 : 가운데 */
    color: white;
    height: 200px;
    background: url("https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_960_720.jpg") no-repeat center / cover; /* 반복안함, 가로-세로 중앙배치 / 사진은 알아서 늘려서 */
}
.text p {
    text-shadow: 1px 1px 10px #000; /* 글자-그림자 : 10픽셀 검정색 */
}
.breadcrumb {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: right;
    color: rgb(110, 110, 110);
    font-size: .875em;
}
.breadcrumb a:hover {
    color: #d60c00;
}

/* ================== aside style ==================== */
.aside-wrap {
    border-top: 1px solid #d60c00;
    background: #f1f1f1;
    margin: 50px 0 20px;
}
.aside-wrap > ul {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.aside-wrap li {
    font-size: 14px;
    color: #d60c00
}
/* ================== footer style ==================== */
footer {
    text-align: center;
}
footer .logo-footer {
    margin: 20px 0;
}
footer p {
    line-height: 1.8;
    font-size: 12px;
}