body {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

a, a:link {
    text-decoration: none;
    color: #cd5c5c;
}

.blined {
    display: none;
}

/* =========================== header style ===========================*/
.header-top {
    border-bottom: 1px solid #d60c00;
}
.header-top {
    /* max-width:900px; */
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tnb {
    background: gold;
    display: flex;
    column-gap: 1rem;
}

#tnb li {
    font-family: 0.8125em;
    color: #888;
    font-weight: 500;
}

#tnb li:hover {
    color: #000;
}

.bottom-top {
    max-width: 900px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.main-nav {
    width: 100%;
}

#gnb {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

/*================ hero style================*/
#hero {
    height: 395px;
}

.hero-wrap {
    max-width: 900px;
    margin: 0 auto;
}

/*================= icons style=============*/
#icons {
    background: #d60c00;
}

.hot-nav {
    max-width: 900px;
    margin: 0 auto;
}

#hnb {
    display: flex;
}

/*============= main style ==============*/
#main > article > h3 {
    margin: 50px 0;
    text-align: center;
    font-size: 1.375em;
    color: #d60c00;
    font-weight: 600;
    text-transform: uppercase;
}

.prd {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.prd li{
    border-radius: 50%;
    overflow: hidden;
}

/*=================== main > about style ============*/
#slogan .text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    background: url()
}

/*============ main > map style =============*/
.tab-btns ul li {
    width: calc(33.3333333333% - 20px);
    
}